.calculator {
    width: 200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin-top: 10px;
  }
  
  button {
    width: 100%;
    height: 40px;
    font-size: 20px;
  }
  